<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robo Diagnosis</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="images/robo-icon.png" type="image/x-icon">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="myDemoApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <!-- <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Robo Health</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

    <body class="container-fluid">
    <div class="row" style="padding:5px">
    </div>
    <div header-dir></div>
    <div class="row" style="padding:5px"></div>
    <div class="col-md-12 pad-0" style="background-color:#868686;height:850px">
        <div class="col-md-2 leftPane">
            <!--  <div left-pane-dir></div> -->
            <div class="col-md-12" style="padding:7px"></div>
            <h3 class="left-pane-head">My Robots</h3>
            <div class="col-md-12" style="padding:7px"></div>
            <div class="col-md-12 pad-0">
                <div class="left-pane-menu">
                    <uib-accordion close-others="oneAtATime">
                        <uib-accordion-group ng-repeat=" macname in machineList" is-open="status.open">
                            <uib-accordion-heading>
                                <span ng-class="{'glyphicon glyphicon-plus-sign ':!status.open,'glyphicon glyphicon-minus-sign':status.open}">&nbsp;&nbsp;</span><span class="left-pane-heading">{{macname.machine_name}}</span>
                            </uib-accordion-heading>
                            <span ng-repeat="mac in macname.m_metric">
                        <p ><a href="#/MetricInfo" ng-click="setsendId(macname.machine_name,macname.alert_priority,mac.m_metric_name)">{{mac.m_metric_name}}</a></p>
                    </span>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
            <div class="col-md-12 pad-0">
                <h3 class="left-pane-head">My Alerts</h3>
            </div>
            <div class="col-md-12" style="padding:7px"></div>
            <div class="col-md-12 pad-0">
                <ul>
                    <li>
                        <div class="panel panel-default mar-0">
                            <div class="panel-heading left-pane-heading"><a href="#/MyAlerts">Manage my alerts</a></div>
                        </div>
                    </li>
                    <li>
                        <div class="panel panel-default">
                            <div class="panel-heading left-pane-heading"><a href="#/MyAlerts">View historical alerts</a></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10 right-pane">
            <div ng-view=""></div>
        </div>
    </div>


    <div class="footer">
      <div class="container-fluid pull-right">
        <p><span class="glyphicon"></span> &copy; Turboware 2016</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/highcharts/highcharts.js"></script>
    <script src="bower_components/highcharts/highcharts-more.js"></script>
    <script src="bower_components/highcharts/modules/exporting.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>

        <!-- Services -->
        <script src="scripts/services/alertDetailsService.js"></script>
        <script src="scripts/services/machineListService.js"></script>
        <script src="scripts/services/metricInfoService.js"></script>
        <script src="scripts/services/notificationDetailService.js"></script>
        <!-- Directive -->
        <script src="scripts/directives/header.js"></script>
        <!-- endbuild -->
</body>
</html>
